include *.txt
include README.md
include pyproject.toml

graft xpublish_wms

prune docs
prune tests
prune notebooks
prune *.egg-info

global-exclude *.nc

exclude *.yml
exclude *.enc
exclude .gitignore
exclude .isort.cfg
