black
check-manifest
dask[complete]
doctr
flake8
flake8-builtins
flake8-comprehensions
flake8-mutable
flake8-print
httpx
interrogate
isort
myst-parser
nbsphinx
netCDF4
pooch
pre-commit
pylint
pytest
pytest-cov
pytest-flake8
pytest-xdist
setuptools_scm
sphinx
twine
wheel
